{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <title>Home page</title>
</head>
<style>
    .scroll {
        overflow-y: auto;
    }

    .scroll::-webkit-scrollbar-track {
        border-radius: "10px";
        width: "12px";
    }

    body::-webkit-scrollbar {
        width: "1em";
    }

    .scroll::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .scroll::-webkit-scrollbar {
        display: none;
    }

    dialog {
        width: 90%;
        height: 80%;
        max-width: 700px;
        border: .5px solid lightgrey;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
        border-radius: 0.5em;
        position: relative;
        scrollbar-width: thin;
    }

    dialog::backdrop {
        background: black;
        opacity: .25;
    }

    .modal-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 3rem;
        position: fixed;
        width: 90%;
        max-width: 700px;
        background-color: white;
        margin-top: -16px;
        padding-top: 20px;
    }

    img {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    /* button {
        display: inline-block;
        padding: 15px 30px;
        margin-top: 20px;
        border: none;
        background-color: tomato;
        color: whitesmoke;
        border-radius: 99px;
    } */

    i {
        cursor: pointer;
    }

    i:hover {
        background-color: lightgrey;
        border-radius: 2px;
    }

    .icon {
        color: rgba(250, 250, 250, 0.3);
    }

    .icon:hover {
        color: rgba(250, 250, 250, 1);

    }

    .card {
        height: 350px;
        width: 300px;
        transition: all 0.4s ease;
    }

    .card:hover {
        width: 305px;
        height: 355px;
        transform: scale(1.1);

    }
</style>


<body>

    <div
        style=" background-size: cover; background-repeat: no-repeat; height: 100vh; width: 100%; background-position: center; background-image: url('/static/images/bg.jpg'), linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0,0,0,0.2) 75%); background-blend-mode: overlay;">
        {% include 'navbar.html' %}
        <div style="justify-content: center; justify-content: center; flex-direction: column; padding-bottom: 50px;">
            <p id="demo" class="text-white text-4xl text-center" style="margin-top: 100px; margin-bottom: 50px;">
            </p>
            <dialog class="modal">
                <!-- <button class="modal-header close-button">
                    hey
                </button> -->
                <div
                    style="justify-content: center; align-items: center; display: flex; justify-content: center; margin-top: 150px;">
                    <form method="post" action="" enctype="multipart/form-data" class=" mt-4">
                        {% csrf_token %}
                        {{ form.as_p}}

                        <div class="form-group mr-auto ml-auto">
                            <button type="submit" name="tomato"
                                class="btn btn-lg btn-success form-control"><b>Upload</b></button>

                        </div>
                    </form>
                </div>

                <!-- <button class="close-button">close</button> -->
                <button class="close-button p-2" style="position: absolute; top: 0; right: 0px;">
                    <span class="fa fa-outline fa-times" style="color: black;"></span>
                </button>
            </dialog>

            <dialog class="modal2">
                <!-- <button class="modal-header close-button">
                    hey
                </button> -->
                <div
                    style="justify-content: center; align-items: center; display: flex; justify-content: center; margin-top: 150px;">
                    <form method="post" name="tomato" id="tomato" action="" enctype="multipart/form-data" class=" mt-4">
                        {% csrf_token %}
                        {{ tomatoForm.as_p}}
                        <div class="form-group mr-auto ml-auto">
                            <button type="submit" name="tomato" id="tomato"
                                class="btn btn-lg btn-success form-control"><b>Upload</b></button>

                        </div>
                    </form>
                </div>

                <button class="close-button2 p-2" style="position: absolute; top: 0; right: 0px;">
                    <span class="fa fa-outline fa-times" style="color: black;"></span>
                </button>
            </dialog>

            <dialog class="modal3">
                <!-- <button class="modal-header close-button">
                    hey
                </button> -->
                <div
                    style="justify-content: center; align-items: center; display: flex; justify-content: center; margin-top: 150px;">
                    <form method="post" name="tomato" id="tomato" action="" enctype="multipart/form-data" class=" mt-4">
                        {% csrf_token %}
                        {{ potatoForm.as_p}}
                        <div class="form-group mr-auto ml-auto">
                            <button type="submit" name="tomato" id="tomato"
                                class="btn btn-lg btn-success form-control"><b>Upload</b></button>

                        </div>
                    </form>
                </div>

                <button class="close-button3 p-2" style="position: absolute; top: 0; right: 0px;">
                    <span class="fa fa-outline fa-times" style="color: black;"></span>
                </button>
            </dialog>
            <div style="width: 75%; margin: auto; display: block;">
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <div class="bg-white-600 rounded-xl hover:shadow-sm p-2 card"
                        style=" position: relative; background-image: linear-gradient(rgba(255,255,255,0.1), rgba(250,250,250,0.3));">
                        <button class="open-button p-2"
                            style="position: absolute; top: 0; right: 0px; background-color: rgba(0, 0, 0, 0.2); border-radius: 100px; width: 35px; height: 35px; display: flex; justify-content: center; align-items: center;">
                            <span class="fa fa-outline fa-image icon"></span>
                        </button>
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <!-- <img src="/static/images/pepper.png"
                                style="width: 45px; height: 45px; object-fit: contain; border-radius: 100px;" alt="" /> -->
                            <div style="color: rgba(0,0,0,0.9);" class="text-2xl font-bold pt-6">
                                Pepper
                            </div>
                        </div>
                        <div class="pb-4 text-md" style="color: rgba(255,255,255,0.9);">
                            Diseases - 2
                        </div>

                        <!-- <div class="w-50 border-t border-gray-300 mb-2"></div> -->
                        <div style="height: 200px;" class="scroll">
                            <ul>
                                <li style=" color: rgba(255, 255, 255, 0.5); background-color: rgba(0,0,0,0.5); margin-top: 0.5rem; margin-bottom: 0.5rem;"
                                    class=" text-white hover:bg-slate-50 hover:cursor-pointer p-2 rounded-md">
                                    Healthy
                                </li>
                                <li style="color: rgba(255, 255, 255, 0.5); background-color: rgba(0,0,0,0.5); margin-top: 5px; margin-bottom: 5px;"
                                    class="text-white hover:bg-slate-50 hover:cursor-pointer p-2 rounded-md">Early
                                    Bacterial Spot
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div class="bg-white-500 rounded-xl hover:shadow-sm p-2 card"
                        style="position: relative;  background-color: rgba(250, 250, 250, 0.15);">
                        <button class="open-button2 p-2"
                            style="position: absolute; top: 0; right: 0px; background-color: rgba(0, 0, 0, 0.2); border-radius: 100px; width: 35px; height: 35px; display: flex; justify-content: center; align-items: center;">
                            <span class="fa fa-outline fa-image icon"></span>
                        </button>
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <!-- <img src="/static/images/potato.png"
                                style="width: 45px; height: 45px; object-fit: contain; border-radius: 100px;" alt="" /> -->
                            <div style="color: rgba(0,0,0,1)" class="text-2xl font-bold pt-6">
                                Potato
                            </div>

                        </div>
                        <div class="pb-4 text-md" style="color: rgba(12, 11, 11, 0.7);">
                            Diseases - 2
                        </div>

                        <!-- <div class="w-50 border-t border-gray-300 mt-2 mb-2"></div> -->
                        <div style="height: 150px;" class="scroll">
                            <ul>
                                <li style="color: rgba(255, 255, 255, 0.5); background-color: rgba(0,0,0,0.5); margin-top: 0.5rem; margin-bottom: 0.5rem;"
                                    class="text-white hover:bg-slate-50 hover:cursor-pointer p-2 rounded-md">
                                    Healthy
                                </li>

                                <li style="color: rgba(255, 255, 255, 0.5); background-color: rgba(0,0,0,0.5); margin-top: 0.5rem; margin-bottom: 0.5rem;"
                                    class="text-white hover:bg-slate-50 hover:cursor-pointer p-2 rounded-md">Early
                                    Late Blight
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div class="bg-white-500 rounded-xl hover:shadow-sm p-2 card"
                        style="position: relative; background-color: rgba(250, 250, 250, 0.2);">
                        <button class="open-button3 p-2"
                            style="position: absolute; top: 0; right: 0px; background-color: rgba(0, 0, 0, 0.2); border-radius: 100px; width: 35px; height: 35px; display: flex; justify-content: center; align-items: center;">
                            <span class="fa fa-outline fa-image icon"></span>
                        </button>
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <!-- <img src="/static/images/potato.png"
                                style="width: 45px; height: 45px; object-fit: contain; border-radius: 100px;" alt="" /> -->
                            <div style="color: rgba(0,0,0,1)" class="text-2xl font-bold pt-6">
                                Tomato
                            </div>
                        </div>
                        <div class="pb-4 text-md" style="color: rgba(255,255,255,0.7);">
                            Diseases - 7
                        </div>
                        <div style="height: 220px;" class="scroll">
                            <ul>
                                <li style="color: rgba(255, 255, 255, 0.5); background-color: rgba(0,0,0,0.5); margin-top: 0.5rem; margin-bottom: 0.5rem;"
                                    class="text-white hover:bg-slate-50 hover:cursor-pointer p-2 rounded-md">
                                    Bacterial Spot
                                </li>
                                <li style="color: rgba(255, 255, 255, 0.5); background-color: rgba(0,0,0,0.5); margin-top: 0.5rem; margin-bottom: 0.5rem;"
                                    class="text-white hover:bg-slate-50 hover:cursor-pointer p-2 rounded-md">Early
                                    Blight
                                </li>
                                <li style="color: rgba(255, 255, 255, 0.5); background-color: rgba(0,0,0,0.5); margin-top: 0.5rem; margin-bottom: 0.5rem;"
                                    class="text-white hover:bg-slate-50 hover:cursor-pointer p-2 rounded-md">Curl
                                </li>
                                <li style="color: rgba(255, 255, 255, 0.5);  background-color: rgba(0,0,0,0.5); margin-top: 0.5rem; margin-bottom: 0.5rem;"
                                    class="text-white hover:bg-slate-50 hover:cursor-pointer p-2 rounded-md">Early
                                    Healthy crop
                                </li>
                                <li style="color: rgba(255, 255, 255, 0.5); background-color: rgba(0,0,0,0.5); margin-top: 0.5rem; margin-bottom: 0.5rem;"
                                    class="text-white hover:bg-slate-50 hover:cursor-pointer p-2 rounded-md">Leaf Mold
                                </li>
                                <li style="color: rgba(255, 255, 255, 0.5); background-color: rgba(0,0,0,0.5); margin-top: 0.5rem; margin-bottom: 0.5rem;"
                                    class="text-white hover:bg-slate-50 hover:cursor-pointer p-2 rounded-md">Early
                                    Spider mite
                                </li>
                                <li style="color: rgba(255, 255, 255, 0.5); background-color: rgba(0,0,0,0.5); margin-top: 0.5rem; margin-bottom: 0.5rem;"
                                    class="text-white hover:bg-slate-50 hover:cursor-pointer p-2 rounded-md">Early
                                    Sepetoria leaf spot
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>

    <script>
        var i = 0;
        var txt = 'Find crop diseases'; /* The text */
        var speed = 50; /* The speed/duration of the effect in milliseconds */

        function typeWriter() {
            if (i < txt.length) {
                document.getElementById("demo").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);

            }
        }

        typeWriter()

        // Result Skip Results Iframe
        const modal = document.querySelector('.modal');
        const openModal = document.querySelector('.open-button');
        const closeModal = document.querySelector('.close-button');

        openModal.addEventListener('click', () => {
            modal.showModal();
        });

        closeModal.addEventListener('click', () => {
            modal.close();
        });

        // Result Skip Results Iframe
        const modal2 = document.querySelector('.modal2');
        const openModal2 = document.querySelector('.open-button2');
        const closeModal2 = document.querySelector('.close-button2');

        openModal2.addEventListener('click', () => {
            modal2.showModal();
        });

        closeModal2.addEventListener('click', () => {
            modal2.close();
        });

        // Result Skip Results Iframe
        const modal3 = document.querySelector('.modal3');
        const openModal3 = document.querySelector('.open-button3');
        const closeModal3 = document.querySelector('.close-button3');

        openModal3.addEventListener('click', () => {
            modal3.showModal();
        });

        closeModal3.addEventListener('click', () => {
            modal3.close();
        });
    </script>

</body>

</html>